opencv-python~=4.10.0.84
easyocr~=1.7.1
langchain~=0.3.4
langchain-community
haystack-ai
ollama-haystack
prometheus-client
python-dotenv
nltk~=3.9.1
numpy~=1.26.4
pandas~=2.2.3
scikit-learn~=1.6.1
torch>=2.4.0
transformers~=4.49.0
urllib3~=1.26.7
sentence-transformers>=3.0.0
